{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminCategorieController!{% endblock %}

{% block body %}



{{ form_start(form) }}

{{ form_row(form.label) }}

<button  class="btn btn-primary" type="submit">Ajouter une nouveaux club</button>
{{ form_end(form) }}

{% endblock %}