{% extends 'adminbase.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Hello Admin!</h1>

    <div class="row">
        <div class="col-md-3">

        </div>
 
            
            <p>Sélectionnez une option dans le menu pour gérer les différentes sections de l'application.</p>
        </div>
     
          
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
          
              <div class="dropdown mt-3">
               
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li class="nav-item">
                        <a class="nav-link"  class="nav-link px-0" href="{{ path('app_admin_categorie') }}">Manage Leagues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  class="nav-link px-0" href="{{ path('app_admin_club') }}">Manage Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  class="nav-link px-0" href="{{ path('app_admin_pays') }}">Manage Country</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-truncate" aria-current="page" href="{{path('app_logout')}}" >Se déconnecter</a>
                </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
{% endblock %}